<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/test.css">
        <title>
            CV - Rogier
        </title>
    </head>
    <body>
        <h3>
            Study
        </h3>
        <p>
            We are trying to host webpage with Python and Flask.<br>
            Trying to implement autocorrect:<br>
            <form action="/medSuggest" method="post">
                Medicine name: <input type="text" name="medName">  <br />
                <input type="submit" name= "form" value="Submit" />
            </form>
        </p>
    </body>
</html>